.content-wrap {
    display: flex;
    flex-direction: column;
    padding: 20px 0 40px;
}
.wide-content {
    max-width: 1122px;
    margin: 0 auto;
    width: 96%;
}
.flexBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
}