.category-content {
  display: flex;
  .category-list {
    padding: 20px 30px;
    width: 100%;
    .category-title{
      .breadcrumb {
        a {
          display: inline;
          font-size: 12px;
          line-height: 16px;
          text-transform: capitalize;
          &.categorias {
            color: #688BE9;
            cursor: auto;
          }
        }
        span {
          line-height: 16px;
        }
      }
      h2 {
        text-transform: capitalize;
        font-size: 32px;
        font-weight: 500;
        &.title {
          &.tags {
            display: none;
          }
        }
      }
      
    }
    .resultados {
      display: flex;
      justify-content: space-between;
      .view-type-content{
        display: flex;
        .icon {
          cursor: pointer;
          padding: 5px;
          border-radius: 5px;
          &:hover {
            background-color: #DB0021;
            color: #FFFFFF;
          }
          &.active {
            background-color: #F7DCE0;
            color: #072476;
            &:hover {
              color: #072476;
            }
          }
        }
      }
    }
  }
  section {
    /* display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: flex-start;
    position: relative; 
    gap: 10px;
    margin-top: 15px; */
    .grid-view{
      display: flex;
      flex-wrap: wrap;
      align-items: start;
      justify-content: flex-start;
      position: relative; 
      gap: 10px;
      margin-top: 15px;
      .card {
        margin: 0;
        max-width: 222px;
        @media (max-width: 720px){
          max-width: calc(50% - 18px);
        }
        @media (max-width: 520px){
          max-width: 100%;
          width: 100%;
        }
      }
    }
    .list-view {
      .card {
        max-width: none;
        margin: auto;
        .producto {
          display: flex;
          padding-bottom: 0;
          @media (max-width: 720px){
            justify-content: space-evenly;
          }
          .image {
            height: 100px;
            width: 100px;
            @media (max-width: 720px){
              height: 112px;
              width: 112px;
            }
          }
          .description {
            height: auto;
            padding: 0;
            display: flex;
            align-items: center;
            gap: 20px;
            @media (max-width: 720px){
              flex-direction: column;
              gap: 0;
            }
          }
        }
      }  
    }
    .table-view {
      .unVenta{
        text-align: center;
        font-weight: normal;
        max-width: 50px;
      }
    }
  }
}
.wide-product-back {
  + .category-content {
    /*margin-top: 0;*/
  }
}