.wide-product-back {
  position: fixed;
  top: 132px;
  display: flex;
  height: 183px;
  width: 100%;
  padding: 0px 50px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
  flex-shrink: 0;
  background: #593BAC;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.02), 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  z-index: 1;
  transition: transform 1s ease;
  &.translate-y-full {
    transform: translateY(-244px);
  }
}
.product-added {
  display: flex;
  height: 140px;
  padding: 0px 50px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
  .added-div {
    display: flex;
    align-items: center;
    gap: 21px;
    .added-img{
      border-radius: 8px;
      background-color: #FFFFFF;
      img {
        width: max(5vw, 100px);
        height: auto;
        max-height: 100px;
        object-fit: contain;
        border-radius: 8px;
      }
    }
    .added-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 4px;
      flex: 1 0 0;
      color: #FFFFFF;
      font-size: 24px;
      font-weight: 700;
      span {
        &:last-child {
          font-size: 22px;
          font-weight: 300;
        }
      }
    }
  }
  .added-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    .btn-secondary {
      color: #FFFFFF;
      border-color: #FFFFFF;
      &:hover {
        background-color: #FFFFFF;
        color: #593BAC;
      }
    }
  }
}
/* .product-added .added-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  flex: 1;
  max-height: 100px;
  overflow: hidden;
} 
.product-added .added-img {
  max-width: 100px;
  margin-right: 10px;
}
.product-added .added-img img {
  
}
.product-added .added-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #404040;
  font-size: 14px;
}
.product-added .added-info span:first-child {
  font-weight: 800;
}*/
/* .product-added .added-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
} 
.product-added .added-button button:first-child {
  margin-right: 16px;
}
.product-added .added-button button {
  border: 1px solid #c8c8c8;
  padding: 5px 10px;
  transition: 0.2s;
}
.product-added .added-button button:hover {
  color: white;
  border-color: #3390ff;
  background-color: #3390ff;
}*/
@media (min-width: 768px) {
  /* .product-added {
      flex-direction: row;
      padding: 16px 0;
  }
  .product-added .added-div {
      padding: 0;
      margin: 0;
      margin-right: 15px;
  }
  .product-added .added-button button {
      padding: 10px 25px;
  } */
}