.producto {
  display: flex;
  flex-direction: column;
  gap: 17px;
  padding: 15px;
  background: #FFFFFF;
  border-radius: 30px;
  min-height: 330px;
  .image {
    display: flex;
    height: 159px;
    border-radius: 30px;
    background-color: #F4F4F0;
    align-items: center;
    justify-content: center;
    img {
      width: 100%;
      object-fit: contain;
      height: 80%;
    }
    &::after{
      display: none;
    }
  }
  .en_tv{
    background-color: #593BAC;
    color: #FCDFD8;
    padding: 10px 20px 10px 10px;
    border-radius: 0px 1000px 1000px 0px;
    font-size: 12px;
    font-weight: 700;
    display: flex;
    gap: 8px;
    align-items: center;
    max-width: 95px;
    position: absolute;
    left: 0;
    top: 29px;
  }
  .new{
    background-color: #1F2351;
    color: #FCDFD8;
    padding: 10px 15px;
    border-radius: 1000px 0px 0px 1000px;
    font-size: 12px;
    font-weight: 700;
    display: flex;
    gap: 8px;
    align-items: center;
    max-width: 95px;
    position: absolute;
    right: 0;
    top: 29px;
  }
  .promo{
    background-color: #FCDFD8;
    color: #1F2351;
    padding: 10px 20px 10px 10px;
    border-radius: 0px 1000px 1000px 0px;
    font-size: 12px;
    font-weight: 700;
    display: flex;
    gap: 8px;
    align-items: center;
    max-width: 95px;
    position: absolute;
    left: 0;
    top: 29px;
    &.down {
      top: 77px
    }
  }
  .description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
    .categ {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-self: stretch;
      .brand{
        display: flex;
        padding: 7px 8px;
        align-items: center;
        gap: 5px;
        border: 1px solid #344154;
        border-radius: 3px;
        color: #344154;
        text-transform: uppercase;
        font-size: 8px;
        font-weight: 700;
      }
      .sku{
        display: flex;
        padding: 7px 8px;
        align-items: center;
        gap: 1px;
        color: #9C9B94;
        border-radius: 3px;
        text-transform: uppercase;
        font-size: 8px;
        font-weight: 700;
        background-color: #F4F4F0;
      }
    }
    .descrition-data{
      min-height: 145px;
      display: flex;
      flex-direction: column;
      gap: 40px;
    }
    .name {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 5px;
      align-self: stretch;
      color: #212124;
      font-size: 19px;
      font-weight: 600;
      line-height: 100%;
    }
    .price {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      align-self: stretch;
      color: #344154;
      font-size: 28px;
      font-weight: 500;
      span {
        color: #9C9B94;
        font-size: 12px;
        &.descuento {
          text-decoration: line-through;
        }
      }
    }
    .price-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .btn-content {
      margin: 0 auto;
    }
  }
  &:hover{
    box-shadow: 0 0 8px 0px rgb(0, 0, 0, .3)
  }
}

.card {
  max-width: 320px;
  margin: auto 0.5rem;
  border: none;
  @media (max-width: 520px){
    margin: 0 auto;
  }
}
