.wide-product-back {
  position: relative;
  background-color: white;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
  width: 100%;
}
.wide-product-back::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #3390ff;
  bottom: -5px;
  left: 0;
}
.product-added {
  display: flex;
  padding: 16px;
  width: 100%;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.product-added .added-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  flex: 1;
  max-height: 100px;
  overflow: hidden;
}
.product-added .added-img {
  max-width: 100px;
  margin-right: 10px;
}
.product-added .added-img img {
  width: max(5vw, 100px);
  height: auto;
  max-height: 100px;
  object-fit: contain;
}
.product-added .added-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #404040;
  font-size: 14px;
}
.product-added .added-info span:first-child {
  font-weight: 800;
}
.product-added .added-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.product-added .added-button button:first-child {
  margin-right: 16px;
}
.product-added .added-button button {
  border: 1px solid #c8c8c8;
  padding: 5px 10px;
  transition: 0.2s;
}
.product-added .added-button button:hover {
  color: white;
  border-color: #3390ff;
  background-color: #3390ff;
}
@media (min-width: 768px) {
  .product-added {
      flex-direction: row;
      padding: 16px 0;
  }
  .product-added .added-div {
      padding: 0;
      margin: 0;
      margin-right: 15px;
  }
  .product-added .added-button button {
      padding: 10px 25px;
  }
}