.slider-container .slider {
  height: 415px;
  margin: 0 auto;
}
.slider-container .slider.carousel .slick-arrow {
  display: block !important;
  height: 60px;
}
.slider-container .slider.carousel .slick-arrow.slick-prev {
  border-radius: 0 8px 8px 0;
}
@media (max-width: 520px) {
  .slider-container .slider.carousel .slick-arrow.slick-prev {
    left: -3px;
  }
}
.slider-container .slider.carousel .slick-arrow.slick-next {
  border-radius: 8px 0 0 8px;
}
.slider-container .slider.carousel .slick-arrow.slick-next::after {
  left: 10px;
}
@media (max-width: 720px) {
  .slider-container .slider.carousel .slick-arrow.slick-next {
    right: -3px;
  }
}
.slider-container .slider.carousel .slick-arrow::after {
  left: 15px;
  top: 23px;
}
@media (max-width: 520px) {
  .slider-container .slider.carousel .slick-arrow::after {
    width: 10px;
    height: 10px;
    top: 18px;
    left: 10px;
  }
}
@media (max-width: 520px) {
  .slider-container .slider.carousel .slick-arrow {
    width: 30px;
    height: 44px;
  }
}
@media (max-width: 920px) {
  .slider-container .slider.carousel .slick-track {
    height: 60vh;
  }
  .slider-container .slider.carousel .slick-track .slick-slide * {
    height: 60vh;
  }
}
@media (max-width: 1320px) {
  .slider-container .slider.carousel .slick-track {
    height: 360px;
  }
}
@media (max-width: 1120px) {
  .slider-container .slider.carousel .slick-track {
    height: 257px;
  }
}
@media (max-width: 920px) {
  .slider-container .slider.carousel .slick-track {
    height: 60vh;
  }
}
@media (max-width: 920px) {
  .slider-container .slider.carousel {
    height: 60vh;
  }
}
@media (max-width: 1320px) {
  .slider-container .slider {
    height: 360px;
  }
}
@media (max-width: 1120px) {
  .slider-container .slider {
    height: 257px;
  }
}
.slider-container.product-slide .slick-track {
  height: 452px;
}
.slider-container.product-slide .slick-arrow {
  width: 64px;
  height: 64px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 60px;
}
.slider-container.product-slide:hover .slick-arrow {
  display: block !important;
}
.slider-container.carousel-container {
  max-width: 100%;
}

.slick-slide img {
  border-radius: 18px;
  width: 100%;
}

.slick-slider {
  /*@media (max-width: 920px) {
    height: 60vh;
     .slick-list {
      height: 60vh;
    } 
  }*/
}
.slick-slider .slick-arrow {
  display: none !important;
  width: 40px;
  background-color: #FFFFFF;
  z-index: 1000;
}
.slick-slider .slick-arrow:hover {
  box-shadow: 0 7px 16px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
}
.slick-slider .slick-arrow.slick-prev {
  left: -15px;
}
.slick-slider .slick-arrow.slick-next {
  right: -15px;
}
.slick-slider .slick-arrow.slick-next::after {
  transform: rotate(-45deg);
  left: 21px;
}
.slick-slider .slick-arrow::before {
  content: none;
}
.slick-slider .slick-arrow::after {
  content: "";
  position: absolute;
  top: 24px;
  left: 27px;
  width: 16px;
  height: 16px;
  border-bottom: 2px solid #3390ff;
  border-right: 2px solid #3390ff;
  transform: rotate(-225deg);
  z-index: 9;
}
@media (max-width: 920px) {
  .slick-slider.rows_2 .card {
    margin: 0 auto;
    max-width: 97%;
  }
}
.slick-slider.carousel-prod-amp {
  width: 415px;
}
.slick-slider.carousel-prod-amp .slick-arrow {
  display: block !important;
  width: 41px;
  height: 36px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  z-index: 999;
  transform: translateY(-50%);
  border-radius: 10px;
  transition: 0.5s;
}
.slick-slider.carousel-prod-amp .slick-arrow::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 16px;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #3390ff;
  border-right: 2px solid #3390ff;
  z-index: 9;
  transition: 0.4s;
}
@media (max-width: 920px) {
  .slick-slider.carousel-prod-amp {
    width: 720px;
  }
}

.slick-list {
  border-radius: 18px;
}

.slick-track {
  height: 415px;
}

.theme-background {
  width: 100%;
  height: 130px;
}

.slick-dots {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 50%;
  bottom: 5%;
  list-style: none;
  z-index: 2;
  transform: translateX(-50%);
}
.slick-dots li {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  cursor: pointer;
  margin: 0 5px;
  border: #1841B1 solid 1px;
}
.slick-dots li button {
  background: #FFFFFF;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  display: block;
}
.slick-dots li button::before {
  content: "";
}
.slick-dots li.slick-active button {
  background: #4E8EF7 !important;
}/*# sourceMappingURL=Carousel.css.map */