.category-content {
  display: flex;
}
.category-content .category-list {
  padding: 20px 30px;
  width: 100%;
}
.category-content .category-list .category-title .breadcrumb a {
  display: inline;
  font-size: 12px;
  line-height: 16px;
  text-transform: capitalize;
}
.category-content .category-list .category-title .breadcrumb a.categorias {
  color: #688BE9;
  cursor: auto;
}
.category-content .category-list .category-title .breadcrumb span {
  line-height: 16px;
}
.category-content .category-list .category-title h2 {
  text-transform: capitalize;
  font-size: 32px;
  font-weight: 500;
}
.category-content .category-list .category-title h2.title.tags {
  display: none;
}
.category-content .category-list .resultados {
  display: flex;
  justify-content: space-between;
}
.category-content .category-list .resultados .view-type-content {
  display: flex;
}
.category-content .category-list .resultados .view-type-content .icon {
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
}
.category-content .category-list .resultados .view-type-content .icon:hover {
  background-color: #DB0021;
  color: #FFFFFF;
}
.category-content .category-list .resultados .view-type-content .icon.active {
  background-color: #F7DCE0;
  color: #072476;
}
.category-content .category-list .resultados .view-type-content .icon.active:hover {
  color: #072476;
}
.category-content section {
  /* display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: flex-start;
  position: relative; 
  gap: 10px;
  margin-top: 15px; */
}
.category-content section .grid-view {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: flex-start;
  position: relative;
  gap: 10px;
  margin-top: 15px;
}
.category-content section .grid-view .card {
  margin: 0;
  max-width: 222px;
}
@media (max-width: 720px) {
  .category-content section .grid-view .card {
    max-width: calc(50% - 18px);
  }
}
@media (max-width: 520px) {
  .category-content section .grid-view .card {
    max-width: 100%;
    width: 100%;
  }
}
.category-content section .list-view .card {
  max-width: none;
  margin: auto;
}
.category-content section .list-view .card .producto {
  display: flex;
  padding-bottom: 0;
}
@media (max-width: 720px) {
  .category-content section .list-view .card .producto {
    justify-content: space-evenly;
  }
}
.category-content section .list-view .card .producto .image {
  height: 100px;
  width: 100px;
}
@media (max-width: 720px) {
  .category-content section .list-view .card .producto .image {
    height: 112px;
    width: 112px;
  }
}
.category-content section .list-view .card .producto .description {
  height: auto;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 720px) {
  .category-content section .list-view .card .producto .description {
    flex-direction: column;
    gap: 0;
  }
}
.category-content section .table-view .unVenta {
  text-align: center;
  font-weight: normal;
  max-width: 50px;
}

.wide-product-back + .category-content {
  /*margin-top: 0;*/
}/*# sourceMappingURL=ProductosView.css.map */