.slider-container{
  display: flex;
  //max-width: 1206px;
  flex-direction: column;
  justify-content: center;
  //justify-content: flex-end;
  align-items: center;
  border-radius: 30px;
  /* width: 508px;
  height: 464px;
  background-color: #ffffff; */
  overflow: hidden;
}

.slick-slider {
  display: flex;

  &.items-content {
    display: flex;
    width: 508.799px;
    flex-direction: column;
    //align-items: flex-start;
    gap: 13px;
    .slick-list {
      height: 464px;
      flex-shrink: 0;
      border-radius: 30px;
      background-color: #ffffff;
    }
    .slick-thumb {
      display: flex !important;
      width: 500px;
      align-items: center;
      align-content: center;
      gap: 13px;
      flex-wrap: wrap;
      padding: 0;
      li {
        display: flex;
        align-items: center;
        width: 101px;
        height: 116.92px;
        flex-shrink: 0;
        border-radius: 8px;
        background-color: #ffffff;
        &::marker {
          content: '';
        }
      }
    }
  }
  img {
    max-width: 100%;
    &.hover-zoom {
      transition: transform 2s ease;
      &:hover {
        transform: scale(3);
      }
    }
  }
}

.slick-initialized {
  .slick-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    iframe {
      width: 500px;
    }
  }
}