.App {
  display: flex;
  flex-direction: column;
}
.App-content {
  margin-top: 62px;
  //min-height: 60vh;
}
.icon {
  font-size: 22px;
  &--small{
    font-size: 15px;
    margin-right: 5px;
  }
}
.content {
  margin: 0 auto;
  max-width: 1206px;
  width: 96%;
}
button, a {
  cursor: pointer;
  background: none;
  border: none;
  text-decoration: none;
}

.alert {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  text-align: center;
}